@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Luckiest+Guy&display=swap');
h1{
   font-family: 'Germania One', cursive;
   font-family: 'Luckiest Guy', cursive;             
}
