@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Holtwood+One+SC&family=Luckiest+Guy&family=Ultra&display=swap');
h1{
   font-family: 'Germania One', cursive;
font-family: 'Holtwood One SC', serif;
font-family: 'Luckiest Guy', cursive;
font-family: 'Ultra', serif;    
}
